
/* Código base*/
:root{
    --vermelho: #E50914;
    --preto: #141414;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body{
    background: var(--preto);
    font-family: arial, Times, serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black',Times;
    font-size:40px;
}

header nav a{
    margin-right: 10px;
    text-decoration: none;
    color: #aaa;
}

header nav a:hover{
    color: #fff;
}

/* Filme Principal */

.filme-principal{
    font-size: 16px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    height: 400px;
    background: linear-gradient(#00000080,#00000080), url(../img/capa-house.jpg);
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center; /*Justifycontent segue flexDir */
    align-items: start;
}


.filme-principal .titulo{
    margin-top: 10%;
    margin-bottom: 10px;
    font-size: 40px;
}

.filme-principal .descricao{
    margin-bottom: 30px;
    text-align: justify;
}

/* botoes */
.filme-principal .botao{
    font-size: 12px;
    margin-right: 10px;
    background-color: #14141485;
    border: none;
    color: white;
    padding: 15px 28px;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s ease all;
}

.filme-principal .botao:hover{
    background-color: white;
    color: black;
}

.filme-principal .botao i{
    margin-right: 6px;
}

.container{
    margin:0px 15px;
}

.filme-principal .container{
    width: 80%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carousel{
    margin-top: 5px;
}