
/* Código base*/
:root{
    --vermelho: #E50914;
    --preto: #141414;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body{
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black',Times;
    font-size:40px;
}

header nav a{
    margin-right: 10px;
    text-decoration: none;
    color: #aaa;
}

header nav a:hover{
    color: #fff;
}

/* Filme Principal */

.filme-principal{
    font-size: 16px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    height: 400px;
    background: linear-gradient(#00000080,#00000080), url(../img/capa-house.jpg);
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center; /*Justifycontent segue flexDir */
    align-items: start;
}


.filme-principal .titulo{
    font-size: 40px;
}

.filme-principal .descricao{
    margin-bottom: 30px;
}